*{
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

.accueil{
    position: absolute;
    width:100%;
    height:95vh;
    background-color: rgba(255, 255, 255, 0.623);
    display:flex;
    flex-direction: column;
    justify-content: center;

    p{
        align-self:center;
        font-size: 5rem;
        margin:0 0 30px;
        display:none;
    }

    button{
        align-self:center;
        width:200px;
        height:70px;
        border-radius: 5px;
        font-size: 2rem;
        border: 3px solid black;
    }

    button:hover{
        background-color: rgb(238, 146, 59);
    }
}

.container{
    height:95vh;
    overflow:hidden;
    width:90%;
    margin:auto;
}

h1{
    text-align:center;
}

img{
    height:50vh;
    display:block;
    margin:0 auto;
}

.errors{
    position: absolute;
    top:25%;
    background-color: rgba(212, 56, 56, 0.411);
    width:200px;
    height:200px;
    border-radius: 20px;
    padding:10px;
    font-size: 3rem;

    word-wrap: break-word;
    
}

h2{
    font-size: 4rem;
    margin:2% 0;
    text-align:center;
}

.input{
    margin:auto;
    width:250px;
    text-align:center;
    display:flex;
    justify-content: space-around;

    input{
        line-height:2rem;
        border:1px solid black;
        border-radius:3px;
        padding:3px;
    }

    button{
        line-height:2rem;
        font-size: 1.1rem;
        border:1px solid black;
        border-radius: 3px;
        padding:3px;
        background: #ccc;
    }
}